.snap
	.tab-panel
		.tab
			i.material-icons textsms
		.tab
			i.material-icons refresh
			.camera
		.tab
			i.material-icons sort
	.active
	.blue
	.yellow
	
	
a(href="https://youtu.be/w5sf7e65gzw") watchMeCode





//- https://dribbble.com/shots/3820584-Camera-app-tab-bar